body{
	position: absolute;
	width: 100%;
	height: 100%;

}

.background{
	width: 100%;
	height: auto;
	-webkit-transform: rotate(90deg);
	position: absolute;
	z-index: -1;
	left: 0;
}

p{
	text-align: center;
	font-family: 'Timmana', sans-serif;
	color:#ffceeb;
	display: center;
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px 10px 20px 10px;
}

li{
	text-align: center;
	font-family: 'Timmana', sans-serif;
	color:#ffceeb;
	display: block;
	padding: 10px 10px 10px 10px;
}

/* This is my ... */
.me{
	width: 300px;
	height: auto;
	align-items: center;
}

h1{
	font-family: 'Racing Sans One', cursive;
	font-size: 200%;
	color: #ffceeb;
	text-align: center;
	margin: 10px 10px 10px 10px;
}

.informationlinks{
	font-family: 'Racing Sans One', cursive;
	font-size: 100%;
	color: #ffceeb;
	text-align: center;
	margin: 20px 10px 20px 10px;
}

h2{
	text-align: center;
}

h3{
	border: 10px;
	text-align: center;
	font-family: 'Timmana', sans-serif;
	color: #4277bc;
	padding: 10px 10px 10px 10px;
	margin: 5px;
	background-color: #f2f2bc;
}

a{
	text-decoration: none;
}

a:hover{
	color: #8ce0ff;
	transition: all 1s;
}

a:visited{
	color: #ffceeb;
	transition: all 1s;
}

#mepic{
	width: 100%;
	text-align: center;
}
